body {
 margin: 0;
 /* margin-top: 50px !important;*/
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

body {

font-family: Oswald !important;
 background:white !important;
}

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
}

header h6{
font-family: Oswald !important;
font-weight: 500 !important;
font-size: 22px !important;
line-height: 1.26 !important;
text-decoration: none !important;
text-overflow: ellipsis !important;
color: rgba(255,255,255,1) !important;
background-image: url('https://www.sigapp.org/sac/sac2020/img/acmlogos.png');
background-repeat: no-repeat;
padding-left: 60px;
display: block;
padding: 12px 0px 12px 60px;
background-position: left center;
}

/*div.MuiToolbar-root {*/
/*    background-size: cover;*/
/*    background-position: top center;*/
/*    }*/

   header {
          position: fixed !important;
          top: 0;
          opacity: 0.9 !important;
           background-color: #373834 !important;
   }


   .MuiButton-outlinedPrimary {
   color: #f1f1f1 !important;
   border: 1px solid rgba(224, 213, 213, 0.88) !important;
   background: #505050 !important;
}
.MuiButton-outlinedPrimary a {
   color: #f1f1f1 !important;
}

h1 {
   margin-top: 30px !important;
  }
  
.paperDetail h1 {
    font-size:2vw !important;
    margin: 85px 1.1em 2em !important;
    padding: 0 2em !important;
}

div.MuiAvatar-root.MuiAvatar-circle.makeStyles-avatar-110.MuiAvatar-colorDefault {
  margin-top: 3em;
}

 

main.paperDetail
.MuiGrid-spacing-xs-2 > .MuiGrid-item ,
main.paperDetail
.MuiGrid-spacing-xs-2 > .MuiGrid-item {
   padding-left: 5em !important;
   padding-right: 5em !important;  
}

.paperDetail {
   padding-left: 0 !important;
   padding-right: 0 !important;
}

main.paperDetail
p.MuiTypography-root.MuiTypography-h6 ,
main.paperDetail
p.MuiTypography-root.MuiTypography-h6 ,

  
footer
p.MuiTypography-root {
   text-align: left !important;
    padding: .2em .2em .8em 1em !important;
   font-family: Oswald !important;
   font-weight: 500 !important;
   font-size: 17px !important;
   color: #3F9C35;
}

footer
p.MuiTypography-root {
   text-align: center !important;
}
.MuiGrid-container.MuiGrid-spacing-xs-2 div.MuiGrid-grid-md-6:first-child {
	border-right: 1px solid #BBBDBF !important
}


main .MuiPaper-root {
   border: 0 !important;
   box: 0 !important;
   background: none !important;
   box-shadow: none;
 

}

/* main .MuiPaper-root:first-child { */
   /* background: #272723 !important; */
/* } */

 main.makeStyles-heroContent-280,
 main.makeStyles-heroContent-322,
 main.makeStyles-heroContent-358 {
   padding-left: 0 !important;
   padding-right: 0 !important;
   margin-left: 0 !important;
   margin-right: 0 !important;
  } 
  /*    margin-top:30px !important;*/



.MuiGrid-container:nth-of-type(2) {
 background-color: #4c4c4c !important;
 color: #fff !important;
 font-weight: 300 !important;
 padding-top: 4em !important;
 padding-bottom: 4em !important;
}

.MuiGrid-container:nth-of-type(2) a{ 
 color: #fff !important;
}

/* .MuiGrid-container:nth-of-type(2) p.MuiTypography-root { */
/* color: #92D400; */
/* } */
.MuiGrid-container:nth-of-type(2) .MuiTableCell-body {  
   color: #fff;
}
.MuiGrid-container:nth-of-type(2) th {
 color: #92D400 !important;
}

.MuiGrid-container:nth-of-type(2) .MuiTableCell-root {
  border: 0; 
}


main.chatContainer .chatHeader{
    color: #2c7a11 !important;
    text-align: left;
    /* background: #2c7a11; */
    padding-left: 1em;

}
main.chatContainer {
    background: #d8e2d0;
    background: #fff;
    border: 15px solid #fff;
    border-left: 30px solid #fbfff9;
    border-style: inset;
    border-top: 15px solid #fff;
    border-right: 0px solid #fff;
padding: 0;
}

main .MuiPaper-root .chatRow,
.chatPostNew {
  border: 2px solid #dedede !important;
  background-color: #f1f1f1  !important;
  border-radius: 5px  !important;
  padding: 10px;
  margin: 10px 0;
}
.chatActions {
  border: 2px solid #dedede !important;
  background-color: #fff  !important;
  border-radius: 5px  !important;
  padding: 10px;
  margin: 10px 0;
}
main .MuiPaper-root .chatRow .chatReply {
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px  !important;
  padding: 10px;
  margin: 5px 0;
}

.chatRow .MuiExpansionPanelSummary-content.Mui-expanded {
  margin-top: 10px; 
  margin-bottom: 10px; 
}

.chatContainer .MuiExpansionPanelDetails-root {
  padding: 8px 24px 14px;
}
.chatContainer .replies {
      font-size: 0.8em;
    vertical-align: top;
    color: #a06801;
    padding: 0 .3em;
}

.chatRow .MuiButtonBase-root.MuiIconButton-root.MuiExpansionPanelSummary-expandIcon.MuiIconButton-edgeEnd {
      background: #fbd294;
    border: 1px solid orange;
}

.chatActions button,
.chatPostNew button {
  padding: 5px 15px;
  margin-top: 0 !important;
  color: #f1f1f1 !important;
    border: 1px solid rgba(224, 213, 213, 0.88) !important;
    background: #505050 !important;

}


.chatPostNew::after {
  content: "";
  clear: both;
  display: table;

}

 footer {
 background: black;
 /* margin:0 !important; */
 width: 100% !important;
 max-width: 100% !important;
    background-color: #373834 !important;
} 
footer a {
  color: white;
}


main:nth-of-type(2) {
 /* background: black !important; */
 /* display: none !important; */
/* height: 0px; */
}


div.hideAbstract {
  display: none;
}

a:hoverMe + div.hideAbstract {
    display: block;
}


.breadcrumbs {
  margin-top: 70px;
  margin-bottom: -70px;
}

.videoBox {
  position: relative;
}
 
.videoInner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* @media all and (max-width: 959px) { */
@media all and (max-width: 1149px) {
 .MuiGrid-grid-xs-6 {
  
    max-width: 100% !important;
  flex-basis: 100%  !important;
 }
}

@media (max-width: 1349px) {

  main.paperDetail
.MuiGrid-spacing-xs-2 > .MuiGrid-item ,
main.paperDetail
.MuiGrid-spacing-xs-2 > .MuiGrid-item {
   padding-left: 1em !important;
   padding-right: 1em !important;  
}

}
  @media (max-width: 1149px) {
.MuiGrid-grid-md-6 {
    max-width: 100% !important;
    flex-basis: 100% !important;
}

main.paperDetail div.MuiGrid-root.MuiGrid-item.MuiGrid-align-content-xs-center.MuiGrid-grid-md-6 p  {
  margin-top: 2em;
}
main.paperDetail div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-2  {
  margin-top: 2em;
}
}

@media (min-width: 1150px) {

.MuiGrid-grid-md-6 {
    max-width: 50%;
    flex-basis: 50%;
}
}
